
body{
    background: #d0fb42;
    margin: 0;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-bottom: 0;
}
.nav-bar{
    overflow: hidden;
    background-color:orange;

}

.nav-bar a {
    float: left;
    color: black;
    /* background-color:beige; */
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;

}
.nav-bar a:hover{
    color: white;
    background-color: black;
    transition: background-color .3sec;
    border-radius: 12px;

}

/* .nav-bar a:active{
    color: white;
    background-color:rgb(1, 166, 1);
    transition: background-color .3sec;

} */


.bottom {
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    left: 48%;

    max-width:fit-content;
    border-radius: 30px;
    /* margin: 15px;
    padding: 0px 8px; */
}

.bottom a{
    float: left;
    color: black;
    padding: 2px 10px;
    transition: background-color .3s;
    text-decoration: none;
    font-size: 30px;
    
}

.bottom a:active{
    background-color: rgb(1, 166, 1);
    color: white;
    transition: background-color .3s;
}
.bottom a:hover{
    background-color:black;
    color: white;
    transition: background-color .3s;
}



.container {
    background-color: rgba(245, 244, 241, 0.385);
    width: 80%;
    height: 700px;
    margin: 20px;
    border:10px solid beige;
    border-radius: 10px;
    display: flex;
    ;
}

.item {
    width: 150px;
    height: 150px;
    background-color: yellow;
    padding: 1em;
    font-weight: 700;
    text-align: center;
    border: 10px solid rgb(100, 143, 14);
    border-radius: 12px;
}

.container {
    /* flex-wrap:wrap;
    /*-- flex-direction: row;  (default)--*/
    /* justify-content:space-around;
    align-content:flex-start; */
}

.item-1 {
    /* flex-shrink: 1;
    flex-shrink: 0;
    flex-basis: 100px; */
    flex: 1 0 100px;
    align-self: flex-start;
}
.card{
    overflow: hidden;
    background-color:white;
    margin: 16px;
    padding: 10px 20px;
    display:inline-block;
    border-radius: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-size: 24px;
    }
    .card a{
        margin: 10px; 
        font-size: 24px; 
        float:none; 
        color: rgb(0, 113, 133);
        transition: color .15s;
    }
    .card a:hover{
        color: rgb(255, 164, 28);
    }
    .card:hover{
        padding: 20px 30px;
    }
    .card-holder{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;

    }
    .btn-atc{
        margin: 5px;
        font-size: large;
        background-color: rgb(255, 216, 20);
        border:none;
        border-radius: 18px;
        width: 135px;
        padding: 10px;
        cursor: pointer;
        transition: opacity 0.15s;
    }
    .btn-atc:hover{
        opacity: 0.8;
    }
    .btn-atc:active{
        opacity: 0.5;
    }
    .btn-buy{
        margin: 5px;
        font-size: large;
        background-color: rgb(255, 164, 28);
        border:none;
        border-radius: 18px;
        width: 135px;
        padding: 10px 26px;
        cursor: pointer;
        transition: opacity 0.15s;
    }
    .btn-buy:hover{
        opacity: 0.8;
    }
    .btn-buy:active{
        opacity: 0.5;
    }
    .sub-btn{
        margin: 5px;
        font-size: large;
        background-color: #c4302b;
        font-size: large; border: none; 
        border-radius: 3px; 
        color: white; 
        padding: 10px 14px;
        cursor: pointer;
        transition: opacity .20s;
    }
    .sub-btn:hover{
        opacity: 0.7;
    }
    .sub-btn:active{
        opacity: 0.5;
    }
    .join-btn{
        margin: 5px;
        font-size: large;
        background-color: white; 
        font-size: large;
        border: 1px solid #00acee; 
        border-radius: 3px; 
        color: #00acee; 
        padding: 10px 14px;
        cursor: pointer;
        transition: background-color .15s, 
         color .15s;
    }
    .join-btn:hover{
        background-color: #00acee;
        color: white;
    }
    .join-btn:active{
        opacity: 0.8;
    }
    .tweet-btn{
        margin: 5px;
        font-size: large;
        border: none; 
        border-radius: 20px; 
        padding: 10px 14px; 
        background-color: #00acee; 
        color: white;
        cursor: pointer;
        transition: box-shadow .18s;
        
    }
    .tweet-btn:hover{
        box-shadow: 0px 5px 5px rgba(0, 0, 0, .18);
    }
    .btn-stretch{
        margin: 5px;
        font-size: large;
        border: none; 
        border-radius: 2px; 
        padding: 6px 14px; 
        background-color: green; 
        color: white;
        cursor: pointer;
        transition: padding .4s;
    }
    .btn-stretch:hover{
        padding: 20px 28px;
    }
    .btn-shado{
        margin: 5px;
        font-size: large;
        border: none; 
        border-radius: 2px; 
        padding: 6px 14px; 
        background-color: green; 
        color: white;
        cursor: pointer;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
        /* transition: box-shadow .15s;
        transition: margin .15s; */
    }
    .btn-shado:active{
        box-shadow: none;
        margin: 8px 0 0 8px;
    }
    .btn-1{
        margin-left: 10px;
        margin-right: 10px;
        font-size: large;
        border: none; 
        border-radius: 2px; 
        padding: 6px 15px; 
        background-color: green; 
        color: white;
        cursor: pointer;
        transition: padding .15s, margin .15s;
        }
    .btn-1:hover{
        padding: 6px 25px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .video-title{
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        width: 280px;
        line-height: 25px;
        margin-bottom: 4px;
    }
    .video-count{
        font-family: Arial;
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-top: 0;
    }
    .video-channel{
        font-family: Arial;
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .video-description{
        font-family: Arial;
        font-size: 14px;
        color: rgb(96, 96, 96);
        width: 280px;
        line-height: 22px;
        margin-bottom: 0;
    }
    .mac{
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }
    .line1{
        color: rgb(211, 137, 0);
        font-size: 16px;
        font-weight:500;
        margin-bottom:6px;
        margin-top: 5px;
    }

.line2{
    color: rgba(0, 0, 0, 0.851);
    font-size: 22px;
    font-weight: 600;
    margin-bottom:6px;
}
.line3{
    color: rgba(0, 0, 0, 0.851);
    font-size: 35px;
    font-weight: 600;
    margin-bottom:8px;
}   
.price{
    color: rgba(0, 0, 0, 0.672);
    font-size: 16px;
    font-weight: 100;
    margin-bottom:10px;
}
.mac-buy{
    font-size: 14px;
    color: white;
    background-color: #0071e3;
    padding: 7px 16px;
    border: 0;
    border-radius: 20px;
    margin-bottom:10px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.mac-buy:hover{
    opacity: 0.8;
}
.stock{
    margin-top: 0;
    margin-bottom: 0;
}
.cost{
    font-size: 45px;
}
.currency{
    font-size: 26px;
    color: rgba(0, 0, 0, 0.672);
}
.status1{
    color: green;
    margin-bottom: 10px;
}
.status2{
    color: rgba(0, 0, 0, 0.672);
}
.temp{
    color: red;
}
